*{

margin: 0;
padding: 0;
box-sizing: border-box;



}

body{

background-color: black;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position:center;
}