
@media (max-width:700px){

.box__header{
display: flex;
max-width: 100%;




.box__img1{

width: 150px;
margin: 20px;
margin-left: 40px;
}



.box__links{
   
display: flex;
flex-direction: row;
font-size: 0.8rem;
gap: 1rem;
margin-right: 20px;


}




}




}
