@media (max-width:1700px) {


    .box__header {
        display: flex;
        max-width: 100%;




        .box__img1 {


            width: 450px;
            margin-left: 70px;


        }


        .box__links {

            display: flex;
            flex-direction: row;
            font-size: 1.2rem;
            gap: 40px;
            margin-right: 100px;
            list-style-type: decimal-leading-zero;




        }

    }

    .box__parrafo {
        display: none;
        width: 100%;
        height: 700px;
        flex-direction: row;




        .box__section3 {
            display: none;


        }



    }

    .box__section1 {
        display: flex;
        max-width: 100%;
        max-height: 2360px;
        background-color: white;

        margin: 0 auto;
        margin-top: 150px;

        .box__img2 {
            flex-direction: column;
            display: flex;
            margin-top: 200px;
            padding: 20px;
            margin: 0 auto;

            gap: 50px;




            .img33 {

                width: 600px;

            }


        }





    }

    .box__parrafo {
        display: block;
        max-width: 100%;
        height: 550px;
        padding: 20px;





        .box__section3 {

            display: block;
            margin: 0 auto;

        }

        .input3 {
            top: 300px;
            width: 100%;
            padding: 40px;


        }


    }

    .box__iconssocialred {
        width: 100%;
        height: 25px;
        display: flex;
        background-color: white;
        justify-content: center;
        align-items: center;


        .box__iconssocialredinside {

            display: flex;
            align-content: center;
            gap: 70px;
            margin-right: 230px;
            margin-bottom: 20px;




        }
    }

 //pagina 2 (Stock) 


 .titu2 {

    margin-bottom: 150px;
    
   

}



.box__grid1 {
    display: grid;
    max-width: 100%;
    background-color: white;
    
    gap: 10px;
    margin-bottom: 40px;
    
   
   




    .box__grid {
        max-width: 100%;
        display: block;
        background-color: white;
        line-height: 25px;
        flex-direction: column;
        margin: 0 auto;
        font-size: 15px;
        margin-left: 12px;



    }








    .img__grid {

        width: 450px;
        margin-bottom: 10px;
        margin-top: 20px;

    }
}




}





@media (max-width:1000px) {

    .box__headercuota {
        display: flex;
        width: 100%;
        height: 22px;
        background: rgb(150, 163, 147);
        background: linear-gradient(4deg, rgba(150, 163, 147, 0.577468487394958) 0%, rgba(173, 179, 162, 0.14049369747899154) 36%, rgba(215, 226, 210, 0) 67%, rgba(95, 255, 0, 0.227328431372549) 100%);
        margin-top: 20px;
        justify-content: center;
        gap: 15px;
        position: sticky;
        top: 10px;
        list-style-type: none;
        font-size: 15px;






        a {
            text-decoration: none;
            color: black;

        }



    }


    .box__header {
        display: flex;
        max-width: 100%;




        .box__img1 {


            width: 350px;
            margin-left: 70px;


        }


        .box__links {

            display: flex;
            flex-direction: row;
            font-size: 1rem;
            gap: 50px;
            margin-right: 100px;
            list-style-type: decimal-leading-zero;




        }

    }




    .box__titulo {

        display: flex;
        flex-direction: column;
        margin-left: 70px;

        .aw2 {

            font-size: 4rem;

        }



    }


    .box__section1 {
        display: flex;
        max-width: 100%;
        max-height: 2360px;
        background-color: white;
        margin: 0 auto;
        margin-top: 150px;


        .box__img2 {

            display: flex;
            margin-top: 200px;
            padding: 20px;
            flex-direction: column;
            margin: 0 auto;

            gap: 50px;




            .img33 {

                width: 600px;

            }


        }





    }




    .box__parrafo {
        display: block;
        max-width: 100%;
        height: 550px;
        padding: 20px;





        .box__section3 {


            margin: 0 auto;

        }

        .input3 {
            top: 300px;
            width: 100%;
            padding: 40px;


        }


    }


    .box__iconssocialred {
        width: 100%;
        height: 25px;
        display: flex;
        background-color: white;
        justify-content: center;
        align-items: center;


        .box__iconssocialredinside {

            display: flex;
            align-content: center;
            gap: 100px;
            margin-right: 230px;
            margin-bottom: 20px;




        }
    }



 // pagina 2 (stock)

 .titu2 {

    margin-bottom: 150px;
    
   

}



.box__grid1 {
    display: grid;
    max-width: 100%;
    background-color: white;
    gap: 10px;
    margin-bottom: 40px;
    
    
   
   




    .box__grid {
        max-width: 100%;
        display: block;
        background-color: white;
        line-height: 25px;
        flex-direction: column;
        margin: 0 auto;
        font-size: 15px;
        margin-left: 12px;



    }








    .img__grid {

        width: 400px;
        margin-bottom: 10px;
        margin-top: 20px;

    }
}


}












@media (max-width:850px) {

    .box__headercuota {
        display: flex;
        width: 100%;
        height: 23px;
        background: rgb(150, 163, 147);
        background: linear-gradient(4deg, rgba(150, 163, 147, 0.577468487394958) 0%, rgba(173, 179, 162, 0.14049369747899154) 36%, rgba(215, 226, 210, 0) 67%, rgba(95, 255, 0, 0.227328431372549) 100%);
        margin-top: 20px;
        justify-content: center;
        gap: 15px;
        position: sticky;
        top: 10px;
        list-style-type: none;
        font-size: 15px;





        a {
            text-decoration: none;
            color: black;

        }



    }


    .box__header {
        display: flex;
        max-width: 100%;




        .box__img1 {


            width: 250px;
            margin-left: 70px;


        }


        .box__links {

            display: flex;
            flex-direction: row;
            font-size: 0.7rem;
            gap: 40px;
            margin-right: 100px;
            list-style-type: decimal-leading-zero;




        }

    }




    .box__titulo {

        display: flex;
        flex-direction: column;


        .aw2 {

            font-size: 4rem;

        }



    }


    .box__section1 {
        display: flex;
        max-width: 100%;
        max-height: 1760px;
        margin-top: 150px;
        background-color: white;
        margin: 0 auto;
        margin-top: 200px;







        .box__img2 {

            display: flex;
            margin-top: 200px;
            padding: 20px;
            margin: 0 auto;
            gap: 10px;
            flex-direction: column;
            gap: 50px;



            .img33 {

                width: 400px;
                border: none;
            }


        }

    }





    .box__parrafo {
        display: flex;
        max-width: 100%;
        height: 500px;





        .box__section3 {


            margin: 0 auto;

        }

        .input3 {

            max-width: 100%;
            width: 800px;

            flex-direction: row;


        }


    }




    .box__footer {
        max-width: 100%;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: white;
        color: black;
        
        padding: 50px;

        .img__footer {

            width: 100px;
            height: 50px;

        }

        .box__linkfoot {
            display: block;
            font-size: 10px;
            align-items: center;
            list-style-type: none;
            line-height: 30px;




        }



        .box__linkfoot2 {
            display: block;
            list-style-type: none;
            line-height: 35px;
            font-size: 10px;
            line-height: 20px;
            margin-right: 60px;

        }

        a {

            text-decoration: none;
            color: black;

            a:hover {

                color: greenyellow;


            }

        }





        .box__logcard2 {
            width: 100px;
            display: flex;
            flex-direction: column;


            .box__creditimg {
                width: 50px;





            }

            .logo1 {

                width: 30px;

            }

            .logo2 {

                width: 30px;


            }

            .logo3 {
                width: 30px;


            }



        }




    }

    .box__iconssocialred {
        width: 100%;
        height: 25px;
        display: flex;
        background-color: white;
        justify-content: center;
        align-items: center;


        .box__iconssocialredinside {

            display: flex;
            align-content: center;
            gap: 70px;
            margin-right: 230px;
            margin-bottom: 20px;




        }
    }

    .box__legalfoot {

        background-color: black;
        color: white;
        opacity: 70%;
        text-align: justify;
        font-family: 'Prompt', sans-serif;
        font-size: 0.7rem;

    }



 // pagina 2 (stock)

 .titu2 {

    margin-bottom: 150px;
    margin-right: 40px;
   

}



.box__grid1 {
    display: grid;
    max-width: 100%;
    background-color: white;
    gap: 10px;
    margin-bottom: 40px;
    
    
   
   




    .box__grid {
        max-width: 100%;
        display: block;
        background-color: white;
        line-height: 25px;
        flex-direction: column;
        margin: 0 auto;
        font-size: 15px;
        margin-left: 12px;



    }








    .img__grid {

        width: 300px;
        margin-bottom: 10px;
        margin-top: 20px;

    }
}


}

















@media (max-width:700px) {

    .box__headercuota {
        display: flex;
        width: 100%;
        height: 15px;
        background: rgb(150, 163, 147);
        background: linear-gradient(4deg, rgba(150, 163, 147, 0.577468487394958) 0%, rgba(173, 179, 162, 0.14049369747899154) 36%, rgba(215, 226, 210, 0) 67%, rgba(95, 255, 0, 0.227328431372549) 100%);
        margin-top: 20px;
        justify-content: center;
        gap: 15px;
        position: sticky;
        top: 10px;
        list-style-type: none;
        font-size: 10px;





        a {
            text-decoration: none;
            color: black;

        }



    }




    .box__header {
        display: flex;
        max-width: 100%;




        .box__img1 {


            width: 250px;
            margin-left: 130px;


        }


        .box__links {

            display: flex;
            flex-direction: column;
            font-size: 0.7rem;
            gap: 5px;
            margin-right: 100px;
            list-style-type: decimal-leading-zero;




        }

    }




    .box__titulo {

        display: flex;
        flex-direction: column;
        margin-left: 40px;
        margin-bottom: 150px;


        .aw2 {

            font-size: 3rem;

        }



    }


    .box__section1 {
        display: block;
        max-width: 100%;
        max-height: 1760px;
        background-color: white;
        margin-top: 150px;
        margin: 0 auto;
        box-shadow: 0 0 10px black;


        .box__img2 {

            display: flex;
            margin-top: 200px;
            padding: 20px;
            margin: 0 auto;
            gap: 10px;
            flex-direction: column;
            gap: 50px;



            .img33 {

                width: 400px;
                border: none;
            }


        }

    }





    .box__parrafo {
        display: flex;
        max-width: 100%;
        height: 900px;
        margin: 0 auto;




        .box__section3 {

            flex-direction: column;
            margin: 0 auto;

        }

        .input3 {

            max-width: 100%;
            width: 500px;
            flex-direction: row;

        }


    }


    .box__footer {
        max-width: 100%;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: white;
        color: black;
        

        .img__footer {

            width: 100px;
            height: 50px;

        }

        .box__linkfoot {
            display: block;
            font-size: 10px;
            align-items: center;
            list-style-type: none;
            line-height: 30px;




        }



        .box__linkfoot2 {
            display: block;
            list-style-type: none;
            line-height: 35px;
            font-size: 10px;
            line-height: 20px;
            margin-right: 40px;
        }

        a {

            text-decoration: none;
            color: black;

            a:hover {

                color: greenyellow;


            }

        }





        .box__logcard2 {
            width: 100px;
            display: flex;
            flex-direction: column;


            .box__creditimg {
                width: 150px;





            }

            .logo1 {

                width: 30px;

            }

            .logo2 {

                width: 30px;


            }

            .logo3 {
                width: 30px;


            }



        }




    }

    .box__iconssocialred {
        width: 100%;
        height: 25px;
        display: flex;
        background-color: white;
        justify-content: center;
        align-items: center;


        .box__iconssocialredinside {

            display: flex;
            align-content: center;
            gap: 70px;
            margin-right: 230px;
            margin-bottom: 20px;




        }
    }

    .box__legalfoot {

        background-color: black;
        color: white;
        opacity: 70%;
        text-align: justify;
        font-family: 'Prompt', sans-serif;
        font-size: 0.6rem;

    }



    //pagina 2 (stock)


    .titu2 {

        margin-bottom: 150px;
        
       

    }



    .box__grid1 {
        display: flex;
        max-width: 100%;
        background-color: white;
        flex-direction: column;
        margin: 0 auto;
        gap: 10px;
        margin-bottom: 40px;
        
       
       




        .box__grid {
            max-width: 100%;
            display: block;
            background-color: white;
            line-height: 25px;
            font-size: 15px;
            
            
            



        }








        .img__grid {

            width: 500px;
            margin-bottom: 10px;
            margin-top: 20px;

        }
    }






}









@media (max-width:500px) {

    .box__headercuota {
        display: flex;
        width: 100%;
        height: 15px;
        background: rgb(150, 163, 147);
        background: linear-gradient(4deg, rgba(150, 163, 147, 0.577468487394958) 0%, rgba(173, 179, 162, 0.14049369747899154) 36%, rgba(215, 226, 210, 0) 67%, rgba(95, 255, 0, 0.227328431372549) 100%);
        margin-top: 20px;
        justify-content: center;
        gap: 15px;
        border: none;
        opacity: 90%;
        position: sticky;
        top: 10px;
        font-size: 9px;








        .cuota {

            color: chartreuse;


        }

    }



    .box__header {

        display: flex;
        max-width: 100%;
        margin-right: 80px;
        margin-bottom: -50px;


        .box__img1 {


            width: 270px;
            margin-left: 35px;



        }


        .box__links {

            display: flex;
            flex-direction: column;
            font-size: 0.8rem;
            gap: 2px;
            margin-right: 20px;
            list-style-type: decimal-leading-zero;


        }








    }


    .box__titulo {

        display: flex;
        width: 200px;
        flex-direction: column;
        margin-left: 50px;
        bottom: 40px;

        .aw2 {

            font-size: 3.5rem;
            margin: 0 auto;


        }



    }




    .box__section1 {
        display: flex;
        max-width: 100%;
        max-height: 1600px;
        background-color: white;
        margin-top: 150px;

        box-shadow: 0 0 10px black;

        .box__img2 {
            display: flex;
            margin-top: 200px;
            padding: 20px;
            margin: 0 auto;
            gap: 10px;
            flex-direction: column;
            gap: 50px;





            .img33 {
                width: 300px;
                margin-bottom: 20px;
                border: none;


            }

            .img33:hover {
                transition: none;
                transform: none;

            }
        }

    }








    .box__parrafo {
        display: flex;
        max-width: 100%;
        height: 900px;
        padding: 30px;




        .box__section3 {

            flex-direction: column;
            width: 400px;

        }

        .input3 {
            text-align: start;
            width: 400px;
            flex-direction: row;


        }

    }






    .box__footer {
        max-width: 100%;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        color: black;
        
        padding: 30px;

        .img__footer {

            width: 1200px;
            height: 70px;

        }

        .box__linkfoot {
            display: block;
            font-size: 10px;
            align-items: center;
            list-style-type: none;
            line-height: 20px;




        }



        .box__linkfoot2 {
            display: block;
            list-style-type: none;
            line-height: 35px;
            font-size: 10px;
            margin-right: 40px;
            line-height: 15px;
        }

        a {

            text-decoration: none;
            color: black;

            a:hover {

                color: greenyellow;


            }

        }





        .box__logcard2 {
            width: 100px;
            display: block;



            .box__creditimg {
                width: 50px;





            }

            .logo1 {

                width: 30px;

            }

            .logo2 {

                width: 30px;


            }

            .logo3 {
                width: 30px;


            }



        }




    }


    .box__iconssocialred {
        width: 100%;
        height: 25px;
        display: flex;
        background-color: white;
        justify-content: center;
        align-items: center;


        .box__iconssocialredinside {

            display: flex;
            align-content: center;
            gap: 70px;
            margin-right: 230px;
            margin-bottom: 20px;




        }




    }



    .box__legalfoot {

        background-color: black;
        color: white;
        opacity: 70%;
        text-align: justify;
        font-family: 'Prompt', sans-serif;
        font-size: 0.5rem;

    }







    //pagina2 (stock) //


    .titu2 {

        margin-bottom: 150px;
        
       

    }



    .box__grid1 {
        display: block;
        max-width: 100%;
        background-color: white;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 40px;
        
       
       




        .box__grid {
            max-width: 100%;
            display: block;
            background-color: white;
            line-height: 25px;
            flex-direction: column;
            margin: 0 auto;
            font-size: 15px;
            margin-left: 12px;



        }








        .img__grid {

            width: 350px;
            margin-bottom: 10px;
            margin-top: 20px;

        }
    }

}