
@media (max-width:700px){

.box__header{
display: flex;
max-width: 100%;




.box__img1{

width: 170px;
background-color: gray;
margin: 20px;
border-radius: 50%;
margin-left: 120px;
}



.box__links{
   
display: flex;

flex-direction: column;
font-size: 0.8rem;
gap: 5px;
margin-right: 20px;


}




}




}

@media (max-width:380px){





}