* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;



}

body {
    border: 2px solid rgba(225, 236, 225, 0.658);
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    a {

        text-decoration: none;
        
    }

 

}





//pagina2// 