.box__titulo {
    color: white;
    margin-top: 100px;
    margin-left: 10px;



    .aw2 {

        color: greenyellow;
        font-size: 5rem;
        font-family: 'Prompt', sans-serif;

    }




}






.box__section1 {
    max-width: 100%;

    background-color: white;
    margin: 50px;


    .box__img2 {
        display: flex;
        justify-content: space-around;
        margin-top: 300px;
        padding: 20px;



        .img33 {
            transition: 3s;
            width: 500px;




        }

        .img33:hover {
            transition: 0.5s;
            transform: scale(1.2);


        }


        .mg2 {
            width: 510px;
            bottom: 30px;


        }

        .mg3 {
            width: 480px;


        }

    }


    .box__subtitulo {

        display: block;
        text-align: center;
        line-height: 50px;


        .aw3 {

            color: greenyellow;

        }


    }

}




.box__parrafo {
    display: block;
    max-width: 95%;
    margin: 0 auto;
    top: 50px;
    opacity: 70%;
    background-color: black;
    color: white;
    border: 1px solid white;





    .box__section3 {
        display: flex;
        max-width: 100%;
        width: 1500px;
        margin: 100px;
















    }







}




    




.box__imagenblack {
    max-width: 100%;
    background-color: white;
    padding: 5px;
    margin: 45px;
    

    .box__imgnegro {
        display: block;
        




        .box__videomark {

            width: 100%;


        }

    }


}


//section pagina 2//




.titu2 {

    margin-bottom: 200px;


}




.box__grid1 {
    display: grid;
    width: 100%;
    background-color: white;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 25px;
    margin-bottom: 20px;
    
    
    







    .box__grid {
        max-width: 100%;
        display: block;
        background-color: white;
        line-height: 50px;
        margin-bottom: 20px;
        font-size: 25px;
        margin: 0 auto;
        margin-bottom: 20px;
        
        .stockcolor{
        color: $colordecoracion; 


        }

    }




    .img__grid {

        width: 550px;
        margin-bottom: 20px;
        transition: 3s;

    }


    .img__grid:hover{
        transition: 0.5s;
        transform: scale(1.1);



    }
}