.box__titulo {
    color: white;
    margin-top: 100px;
    margin-left: 5px;







    .aw2 {

        color: greenyellow;

        font-size: 6rem;
        animation-name: mianimacion;
        animation-duration: 4s;


    }

    .box__logowsp {

        position: fixed;
        margin: 10px;
        margin-left: 1480px;
        border: 2px solid greenyellow;
        border-radius: 70%;
        box-shadow: 0 0 10px white;

        .imgwsp {

            width: 60px;
            border-radius: 70%;


        }
    }


}

//   }

.titulares {

    margin-bottom: 200px;


}




.box__section1 {
    max-width: 100%;

    background-color: white;
    margin: 50px;


    .box__img2 {
        display: flex;
        justify-content: space-around;
        margin-top: 300px;
        padding: 20px;



        .img33 {
            transition: 3s;
            width: 450px;




        }

        .img33:hover {
            transition: 0.5s;
            transform: scale(1.2);


        }


        .mg2 {
            width: 450px;
            bottom: 30px;


        }

        .mg3 {
            width: 450px;


        }

    }


    .box__subtitulo {

        display: block;
        text-align: center;
        line-height: 50px;


        .aw3 {



            color: greenyellow;

        }


    }











}




.box__parrafo {
    display: block;
    max-width: 94%;
    margin: 0 auto;
    top: 50px;
    background-color: rgba(0, 0, 0, 0.555);
    color: white;
    border: 1px solid white;






    .box__section3 {
        display: flex;
        max-width: 100%;
        width: 1250px;
        margin: 100px;
















    }







}









.box__imagenblack {
    max-width: 100%;
    background-color: white;
    padding: 5px;
    margin: 45px;
    margin-bottom: 200px;

    .box__imgnegro {
        display: block;





        .box__videomark {

            width: 100%;


        }

    }


    .box__undervideo {
        max-width: 100%;
        height: 700px;
        display: flex;
        justify-content: space-between;
        align-items: center;




        .box__underimg {

            width: 700px;




        }


    }






    .imgunder {

        width: 400px;
        height: 450px;
        margin: 0 auto;

    }


}


//section pagina 2//






.box__politicas{
    display: block;
    color: white;
    text-align: start;
    background-color: rgba(255, 255, 255, 0.041);
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    border: 0.5px solid rgba(172, 255, 47, 0.281);
   margin-bottom: 100px;
   margin-top: -30px;
    .pocitytitle{

        text-align: center;
        text-decoration: underline;
        font-size: 1.5rem;
        padding: 20px;
    }

    .politicy-text{
       
        margin: 20px;
         font-family: 'Prompt', sans-serif;
        font-size: 1rem;
        padding: 20px;
    }



    

}


//pagina 5 ( contacto )


.box__contacto {
    display: block;

    width: 65%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
    color: white;
    font-size: 1.5rem;
    font-family: 'Prompt', sans-serif;


    .box__colorcontact {

        color: $colordecoracion;


    }


}




.inputcontacto {

    color: white;
    margin-bottom: 200px;
    border-radius: 20px;
    padding: 40px;
    border-bottom: 1px solid white;







}

.box__consulnum {
    display: flex;
    width: 100%;
    color: white;
    justify-content: center;





}










// pagina 4 ( nosotros )


.box__nosotros {
    display: block;
    width: 1200px;
    height: 550px;
    color: white;
    margin: 0 auto;
    margin-bottom: 350px;
    font-size: 1.5rem;
    font-family: 'Prompt', sans-serif;

    .box__nosotros-titulo-input {

        font-family: 'Prompt', sans-serif;
        color: white;


    }

    .firma-fundador {

        width: 250px;



    }

    .cofunder {

        color: white;
        
        text-align: center;
        width: 250px;
        padding: 7px;
        font-size: 1rem;
        border: 1px solid white;
        border-radius: 10px;
        font-family: 'Prompt', sans-serif;

    }


}



.box__cononcenos-map-descrip {

    display: flex;

    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
    color: white;
    flex-direction: column;
    font-size: 2rem;





    .box__map-conocenos {

        width: 1200px;
        border-radius: 10px;
        box-shadow: 0 0 80px black;


    }















}

//pagina 6


.box__gridnuevo {

    gap: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin-bottom: 100px;
    padding: 25px;
   






    .gridcaja {
        display: flex;
        margin-top: 70px;
        margin-bottom: 5px;
        flex-direction: column;
        padding: 20px;
        
        
        background-color: rgba(0, 0, 0, 0.808);







        .img2__pag6 {

            flex-grow: 1;
            max-width: 100%;

        }

        .img3__pag6 {

            max-width: 100%;
            flex-grow: 1;

        }



        .img4__pag6 {

            max-width: 100%;
            flex-grow: 1;

        }

        .img5__pag6 {

            max-width: 100%;
            flex-grow: 1;

        }

        .img6__pag6 {

            max-width: 100%;
            flex-grow: 1;

        }



        .img7__pag6 {


            max-width: 100%;

            flex-grow: 1;


        }


        .img8__pag6 {

            max-width: 100%;
            flex-grow: 1;
        }


        img {

            max-width: 100%;
            flex-grow: 1;

        }






    }

   

    .descrip__box {
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 15px;
        margin-top: 10px;
        line-height: 40px;
        font-size: 1.5rem;
        align-items: stretch;
        color: white;

        .buton__descript {

            display: flex;
            gap: 5px;
            font-family: 'Prompt', sans-serif;



            .buton {

                width: 150px;
                font-size: 0.8rem;

            }
        }
    }


}

//entregas //


.box__entregastext{

    display: flex;
    max-width: 100%;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: start;
    margin: 50px;
    font-size: 1rem;
    font-family: 'Prompt', sans-serif;
    background-color: rgba(255, 255, 255, 0.062);
    padding: 30px;
    border: 1px solid rgba(172, 255, 47, 0.425);
    border-radius: 10px;
    margin-bottom: 100px;
    margin-top: 30px;

    .box__tituloentregas{
        text-align: center;
        margin: 50px 50px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.4rem;

    }



}
