.box__titulo {
    color: white;
    margin-top: 100px;
    margin-left: 20px;


    .aw2 {

        color: greenyellow;
        font-size: 5rem;


    }




}






.box__section1 {
    max-width: 100%;
    background-color: white;
    margin: 50px;



    .box__img2 {
        display: flex;
        justify-content: space-around;
        margin-top: 300px;

        .img33 {
            width: 500px;


        }


    }

}