@mixin cabeza ($direction , $colum , $align ) {


    display: $direction;
    align-items: $colum;
    justify-content: $align;



}

$colordecoracion: rgb(173, 255, 47);
$textorelaway: 'Raleway', sans-serif;