@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Prompt:wght@200&family=Quicksand:wght@300&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2? family= Raleway:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400 & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&family=Raleway:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&family=Montserrat+Alternates:wght@200&family=Raleway:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&family=Montserrat+Alternates:wght@200&family=Raleway:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400&family=Work+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/photo-1508554291109-58244036f52e.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
body a {
  text-decoration: none;
}
body .body2 {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 0.1px;
}

.pag6 {
  background-image: url(../img/photo-1485518882345-15568b007407.avif);
}

.entregas {
  background-image: url(../img/background.jpg);
}

.box__slide-cuotas-hotsale-bancos {
  background-color: rgba(0, 0, 0, 0.815);
  width: 100%;
  color: white;
  height: 25px;
  margin-top: 10px;
  text-align: center;
  position: fixed;
  top: 10px;
  font-family: "Prompt", sans-serif;
  z-index: 9999;
  box-shadow: 0 0 50px black;
}

.box__icon-search-underslide {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-right: 50px;
  margin-left: 50px;
}
.box__icon-search-underslide .box__icon-favorite-briefcase {
  display: flex;
  align-items: first baseline;
  gap: 20px;
}

.box__header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 250px;
  transition: 2s;
  animation-name: colorr;
  margin-top: 10px;
}
.box__header .box__img1 {
  width: 550px;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.box__header .box__navbar {
  width: 550px;
}
.box__header .box__links {
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  display: flex;
  color: white;
  gap: 50px;
  list-style-type: none;
  font-size: 1.7rem;
  font-family: "Montserrat Alternates", sans-serif;
}
.box__header .box__links a {
  text-decoration: none;
  color: white;
}
.box__header .box__links a:hover {
  transition: 1.5s;
  color: rgb(173, 255, 47);
}

.box__headerpagina6 {
  display: flex;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.623);
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: -0.1rem;
  z-index: 9999;
  list-style-type: none;
  padding: 20px;
}
.box__headerpagina6 .menu,
.box__headerpagina6 a {
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  display: flex;
  color: white;
  gap: 1rem;
  list-style-type: none;
  text-decoration: none;
  font-size: 1.1rem;
  font-family: "Prompt", sans-serif;
}
.box__headerpagina6 .menu a:hover,
.box__headerpagina6 a a:hover {
  transition: 2s;
  color: rgba(172, 255, 47, 0.479);
}
.box__headerpagina6 .menu {
  border-bottom: 1px solid rgba(172, 255, 47, 0.267);
}
.box__headerpagina6 .img__header6 {
  width: 220px;
  margin-bottom: 10px;
}
.box__headerpagina6 .corrusel-6 {
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  display: block;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  height: 26px;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 0.9rem;
  font-family: "Prompt", sans-serif;
  flex-wrap: wrap;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-5-2 15:37:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2023-5-2 15:39:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pagentregas .entregaslink {
  color: greenyellow;
}

.box__titulo {
  color: white;
  margin-top: 100px;
  margin-left: 5px;
}
.box__titulo .aw2 {
  color: greenyellow;
  font-size: 6rem;
  animation-name: mianimacion;
  animation-duration: 4s;
}
.box__titulo .box__logowsp {
  position: fixed;
  margin: 10px;
  margin-left: 1480px;
  border: 2px solid greenyellow;
  border-radius: 70%;
  box-shadow: 0 0 10px white;
}
.box__titulo .box__logowsp .imgwsp {
  width: 60px;
  border-radius: 70%;
}

.titulares {
  margin-bottom: 200px;
}

.box__section1 {
  max-width: 100%;
  background-color: white;
  margin: 50px;
}
.box__section1 .box__img2 {
  display: flex;
  justify-content: space-around;
  margin-top: 300px;
  padding: 20px;
}
.box__section1 .box__img2 .img33 {
  transition: 3s;
  width: 450px;
}
.box__section1 .box__img2 .img33:hover {
  transition: 0.5s;
  transform: scale(1.2);
}
.box__section1 .box__img2 .mg2 {
  width: 450px;
  bottom: 30px;
}
.box__section1 .box__img2 .mg3 {
  width: 450px;
}
.box__section1 .box__subtitulo {
  display: block;
  text-align: center;
  line-height: 50px;
}
.box__section1 .box__subtitulo .aw3 {
  color: greenyellow;
}

.box__parrafo {
  display: block;
  max-width: 94%;
  margin: 0 auto;
  top: 50px;
  background-color: rgba(0, 0, 0, 0.555);
  color: white;
  border: 1px solid white;
}
.box__parrafo .box__section3 {
  display: flex;
  max-width: 100%;
  width: 1250px;
  margin: 100px;
}

.box__imagenblack {
  max-width: 100%;
  background-color: white;
  padding: 5px;
  margin: 45px;
  margin-bottom: 200px;
}
.box__imagenblack .box__imgnegro {
  display: block;
}
.box__imagenblack .box__imgnegro .box__videomark {
  width: 100%;
}
.box__imagenblack .box__undervideo {
  max-width: 100%;
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box__imagenblack .box__undervideo .box__underimg {
  width: 700px;
}
.box__imagenblack .imgunder {
  width: 400px;
  height: 450px;
  margin: 0 auto;
}

.box__politicas {
  display: block;
  color: white;
  text-align: start;
  background-color: rgba(255, 255, 255, 0.041);
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  border: 0.5px solid rgba(172, 255, 47, 0.281);
  margin-bottom: 100px;
  margin-top: -30px;
}
.box__politicas .pocitytitle {
  text-align: center;
  text-decoration: underline;
  font-size: 1.5rem;
  padding: 20px;
}
.box__politicas .politicy-text {
  margin: 20px;
  font-family: "Prompt", sans-serif;
  font-size: 1rem;
  padding: 20px;
}

.box__contacto {
  display: block;
  width: 65%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;
  color: white;
  font-size: 1.5rem;
  font-family: "Prompt", sans-serif;
}
.box__contacto .box__colorcontact {
  color: rgb(173, 255, 47);
}

.inputcontacto {
  color: white;
  margin-bottom: 200px;
  border-radius: 20px;
  padding: 40px;
  border-bottom: 1px solid white;
}

.box__consulnum {
  display: flex;
  width: 100%;
  color: white;
  justify-content: center;
}

.box__nosotros {
  display: block;
  width: 1200px;
  height: 550px;
  color: white;
  margin: 0 auto;
  margin-bottom: 350px;
  font-size: 1.5rem;
  font-family: "Prompt", sans-serif;
}
.box__nosotros .box__nosotros-titulo-input {
  font-family: "Prompt", sans-serif;
  color: white;
}
.box__nosotros .firma-fundador {
  width: 250px;
}
.box__nosotros .cofunder {
  color: white;
  text-align: center;
  width: 250px;
  padding: 7px;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 10px;
  font-family: "Prompt", sans-serif;
}

.box__cononcenos-map-descrip {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 100px;
  color: white;
  flex-direction: column;
  font-size: 2rem;
}
.box__cononcenos-map-descrip .box__map-conocenos {
  width: 1200px;
  border-radius: 10px;
  box-shadow: 0 0 80px black;
}

.box__gridnuevo {
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin-bottom: 100px;
  padding: 25px;
}
.box__gridnuevo .gridcaja {
  display: flex;
  margin-top: 70px;
  margin-bottom: 5px;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.808);
}
.box__gridnuevo .gridcaja .img2__pag6 {
  flex-grow: 1;
  max-width: 100%;
}
.box__gridnuevo .gridcaja .img3__pag6 {
  max-width: 100%;
  flex-grow: 1;
}
.box__gridnuevo .gridcaja .img4__pag6 {
  max-width: 100%;
  flex-grow: 1;
}
.box__gridnuevo .gridcaja .img5__pag6 {
  max-width: 100%;
  flex-grow: 1;
}
.box__gridnuevo .gridcaja .img6__pag6 {
  max-width: 100%;
  flex-grow: 1;
}
.box__gridnuevo .gridcaja .img7__pag6 {
  max-width: 100%;
  flex-grow: 1;
}
.box__gridnuevo .gridcaja .img8__pag6 {
  max-width: 100%;
  flex-grow: 1;
}
.box__gridnuevo .gridcaja img {
  max-width: 100%;
  flex-grow: 1;
}
.box__gridnuevo .descrip__box {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 15px;
  margin-top: 10px;
  line-height: 40px;
  font-size: 1.5rem;
  align-items: stretch;
  color: white;
}
.box__gridnuevo .descrip__box .buton__descript {
  display: flex;
  gap: 5px;
  font-family: "Prompt", sans-serif;
}
.box__gridnuevo .descrip__box .buton__descript .buton {
  width: 150px;
  font-size: 0.8rem;
}

.box__entregastext {
  display: flex;
  max-width: 100%;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-align: start;
  margin: 50px;
  font-size: 1rem;
  font-family: "Prompt", sans-serif;
  background-color: rgba(255, 255, 255, 0.062);
  padding: 30px;
  border: 1px solid rgba(172, 255, 47, 0.425);
  border-radius: 10px;
  margin-bottom: 100px;
  margin-top: 30px;
}
.box__entregastext .box__tituloentregas {
  text-align: center;
  margin: 50px 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
}

.box__footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
  height: 190px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: "Raleway", sans-serif;
}
.box__footer .img__footer {
  width: 300px;
  height: 150px;
}
.box__footer .box__linkfoot {
  display: block;
  gap: 20px;
  align-items: center;
  list-style-type: none;
  line-height: 35px;
  font-family: "Work Sans", sans-serif;
}
.box__footer .box__linkfoot .button-retourn {
  border: 1px solid black;
  color: black;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  transition: 4s;
}
.box__footer .box__linkfoot .button-retourn a:hover {
  transition: 1s;
  color: rgb(173, 255, 47);
}
.box__footer .box__linkfoot2 {
  display: block;
  list-style-type: none;
  line-height: 35px;
  font-family: "Work Sans", sans-serif;
}
.box__footer a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.box__footer a a:hover {
  color: greenyellow;
}
.box__footer .box__logcard2 {
  width: 100px;
  display: block;
}
.box__footer .box__logcard2 .box__creditimg {
  width: 50px;
  margin: 7px;
}
.box__footer .box__logcard2 .logo1 {
  width: 50px;
}
.box__footer .box__logcard2 .logo3 {
  width: 50px;
}

.box__iconssocialredinside {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.incosmedia {
  display: none;
}

.box__legalfoot {
  background-color: rgb(255, 255, 255);
  color: black;
  text-align: justify;
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  padding: 20px;
}
.box__legalfoot .box__legalfoot-parrafo {
  border-bottom: 1px solid rgba(0, 0, 0, 0.493);
  padding: 15px;
}
.box__legalfoot .poilicity-legalfoot {
  display: flex;
  justify-content: end;
  margin-right: 15px;
}

@media (max-width: 1300px) {
  .box__header {
    display: flex;
    max-width: 100%;
  }
  .box__header .box__img1 {
    width: 450px;
    margin-left: 70px;
  }
  .box__header .box__links {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    gap: 40px;
    margin-right: 100px;
    list-style-type: none;
  }
  .box__parrafo {
    display: none;
    width: 100%;
    height: 700px;
    flex-direction: row;
  }
  .box__parrafo .box__section3 {
    display: none;
  }
  .box__section1 {
    display: flex;
    max-width: 100%;
    max-height: 2360px;
    background-color: white;
    margin: 0 auto;
    margin-top: 150px;
  }
  .box__section1 .box__img2 {
    flex-direction: column;
    display: flex;
    margin-top: 200px;
    padding: 20px;
    margin: 0 auto;
    gap: 50px;
  }
  .box__section1 .box__img2 .img33 {
    width: 600px;
  }
  .box__parrafo {
    display: block;
    max-width: 100%;
    height: 550px;
    padding: 20px;
  }
  .box__parrafo .box__section3 {
    display: block;
    margin: 0 auto;
  }
  .box__parrafo .input3 {
    top: 300px;
    width: 100%;
    padding: 40px;
  }
  .box__imagenblack {
    display: block;
    max-width: 100%;
    padding: 2px;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 50px;
  }
  .box__imagenblack .box__imgnegro {
    width: 1100px;
  }
  .box__imagenblack .box__imgnegro .box__videomark {
    width: 100%;
  }
  .box__imagenblack .box__undervideo {
    max-width: 100%;
    height: 290px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .box__imagenblack .box__undervideo .box__underimg {
    margin: 0 auto;
    width: 400px;
    height: 290px;
  }
  .box__imagenblack .imgunder1 {
    display: none;
  }
  .box__imagenblack .imgunder1 .imgunder {
    width: 450px;
    height: 200px;
    margin: 0 auto;
  }
  .box__iconssocialred {
    width: 100%;
    height: 25px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
  }
  .box__iconssocialred .box__iconssocialredinside {
    display: flex;
    align-content: center;
    gap: 70px;
    margin-right: 230px;
    margin-bottom: 20px;
  }
  .titu2 {
    margin-bottom: 150px;
  }
  .box__grid1 {
    display: grid;
    max-width: 100%;
    background-color: white;
    gap: 10px;
    margin-bottom: 40px;
  }
  .box__grid1 .box__grid {
    max-width: 100%;
    display: block;
    background-color: white;
    line-height: 25px;
    flex-direction: column;
    margin: 0 auto;
    font-size: 15px;
    margin-left: 12px;
  }
  .box__grid1 .img__grid {
    width: 450px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .box__nosotros {
    width: 900px;
    height: 800px;
    margin-top: 50px;
  }
  .input-nosotros {
    width: 800px;
  }
}
@media (max-width: 1000px) {
  .box__headercuota {
    display: flex;
    width: 100%;
    height: 22px;
    background-color: white;
    margin-top: 20px;
    justify-content: center;
    gap: 15px;
    position: sticky;
    top: 10px;
    list-style-type: none;
    font-size: 15px;
  }
  .box__headercuota a {
    text-decoration: none;
    color: black;
  }
  .box__header {
    display: flex;
    max-width: 100%;
    margin-left: 30px;
  }
  .box__header .box__img1 {
    width: 350px;
    margin-left: 70px;
  }
  .box__header .box__links {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    gap: 50px;
    margin-right: 100px;
    list-style-type: none;
  }
  .box__titulo {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
  }
  .box__titulo .aw2 {
    font-size: 4rem;
  }
  .box__section1 {
    display: flex;
    max-width: 100%;
    max-height: 2360px;
    background-color: white;
    margin: 0 auto;
    margin-top: 150px;
  }
  .box__section1 .box__img2 {
    display: flex;
    margin-top: 200px;
    padding: 20px;
    flex-direction: column;
    margin: 0 auto;
    gap: 50px;
  }
  .box__section1 .box__img2 .img33 {
    width: 600px;
  }
  .box__parrafo {
    display: block;
    max-width: 100%;
    height: 550px;
    padding: 20px;
  }
  .box__parrafo .box__section3 {
    margin: 0 auto;
  }
  .box__parrafo .input3 {
    top: 300px;
    width: 100%;
    padding: 40px;
  }
  .box__imagenblack {
    display: block;
    max-width: 100%;
    padding: 2px;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 50px;
  }
  .box__imagenblack .box__imgnegro {
    width: 950px;
  }
  .box__imagenblack .box__imgnegro .box__videomark {
    width: 100%;
  }
  .box__imagenblack .box__undervideo {
    max-width: 100%;
    height: 290px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .box__imagenblack .box__undervideo .box__underimg {
    margin: 0 auto;
    width: 400px;
    height: 290px;
  }
  .box__imagenblack .imgunder1 {
    display: none;
  }
  .box__imagenblack .imgunder1 .imgunder {
    width: 450px;
    height: 200px;
    margin: 0 auto;
  }
  .box__iconssocialred {
    width: 100%;
    height: 25px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
  }
  .box__iconssocialred .box__iconssocialredinside {
    display: flex;
    align-content: center;
    gap: 100px;
    margin-right: 230px;
    margin-bottom: 20px;
  }
  .titu2 {
    margin-bottom: 150px;
  }
  .box__grid1 {
    display: grid;
    max-width: 100%;
    background-color: white;
    gap: 10px;
    margin-bottom: 40px;
  }
  .box__grid1 .box__grid {
    max-width: 100%;
    display: block;
    background-color: white;
    line-height: 25px;
    flex-direction: column;
    margin: 0 auto;
    font-size: 15px;
    margin-left: 12px;
  }
  .box__grid1 .img__grid {
    width: 400px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .box__nosotros {
    width: 800px;
    height: 1000px;
    margin-top: 50px;
  }
  .input-nosotros {
    width: 700px;
  }
}
@media (max-width: 850px) {
  .box__headercuota {
    display: flex;
    width: 100%;
    height: 23px;
    background-color: white;
    margin-top: 20px;
    justify-content: center;
    gap: 15px;
    position: sticky;
    top: 10px;
    list-style-type: none;
    font-size: 15px;
  }
  .box__headercuota a {
    text-decoration: none;
    color: black;
  }
  .box__header {
    display: flex;
    max-width: 100%;
    margin-left: 100px;
  }
  .box__header .box__img1 {
    width: 250px;
  }
  .box__header .box__links {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    gap: 40px;
    margin-right: 100px;
    list-style-type: none;
  }
  .box__titulo {
    display: flex;
    flex-direction: column;
  }
  .box__titulo .aw2 {
    font-size: 4rem;
  }
  .box__section1 {
    display: flex;
    max-width: 100%;
    max-height: 1760px;
    margin-top: 150px;
    background-color: white;
    margin: 0 auto;
    margin-top: 200px;
  }
  .box__section1 .box__img2 {
    display: flex;
    margin-top: 200px;
    padding: 20px;
    margin: 0 auto;
    gap: 10px;
    flex-direction: column;
    gap: 50px;
  }
  .box__section1 .box__img2 .img33 {
    width: 400px;
    border: none;
  }
  .box__parrafo {
    display: flex;
    max-width: 100%;
    height: 820px;
  }
  .box__parrafo .box__section3 {
    margin: 0 auto;
  }
  .box__parrafo .input3 {
    max-width: 100%;
    width: 500px;
    flex-direction: row;
  }
  .box__imagenblack {
    display: block;
    max-width: 100%;
    padding: 2px;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 50px;
  }
  .box__imagenblack .box__imgnegro {
    width: 710px;
  }
  .box__imagenblack .box__imgnegro .box__videomark {
    width: 100%;
  }
  .box__imagenblack .box__undervideo {
    max-width: 100%;
    height: 290px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .box__imagenblack .box__undervideo .box__underimg {
    margin: 0 auto;
    width: 400px;
    height: 290px;
  }
  .box__imagenblack .imgunder1 {
    display: none;
  }
  .box__imagenblack .imgunder1 .imgunder {
    width: 450px;
    height: 200px;
    margin: 0 auto;
  }
  .box__footer {
    max-width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    color: black;
    padding: 50px;
  }
  .box__footer .img__footer {
    width: 150px;
    height: 75px;
  }
  .box__footer .box__linkfoot {
    display: block;
    font-size: 10px;
    align-items: center;
    list-style-type: none;
    line-height: 20px;
  }
  .box__footer .box__linkfoot2 {
    display: block;
    list-style-type: none;
    line-height: 35px;
    font-size: 10px;
    line-height: 20px;
    margin-right: 60px;
  }
  .box__footer a {
    text-decoration: none;
    color: black;
  }
  .box__footer a a:hover {
    color: greenyellow;
  }
  .box__footer .box__logcard2 {
    width: 100px;
    display: flex;
    flex-direction: column;
  }
  .box__footer .box__logcard2 .box__creditimg {
    width: 50px;
  }
  .box__footer .box__logcard2 .logo1 {
    width: 30px;
  }
  .box__footer .box__logcard2 .logo2 {
    width: 30px;
  }
  .box__footer .box__logcard2 .logo3 {
    width: 30px;
  }
  .box__iconssocialred {
    width: 100%;
    height: 35px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
  }
  .box__iconssocialred .box__iconssocialredinside {
    display: flex;
    align-content: center;
    gap: 40px;
    margin-right: 230px;
    margin-bottom: 5px;
  }
  .box__legalfoot {
    background-color: white;
    color: black;
    text-align: justify;
    font-family: "Prompt", sans-serif;
    font-size: 0.7rem;
  }
  .titu2 {
    margin-bottom: 150px;
    margin-right: 40px;
  }
  .box__grid1 {
    display: grid;
    max-width: 100%;
    background-color: white;
    gap: 10px;
    margin-bottom: 40px;
  }
  .box__grid1 .box__grid {
    max-width: 100%;
    display: block;
    background-color: white;
    line-height: 25px;
    flex-direction: column;
    margin: 0 auto;
    font-size: 15px;
    margin-left: 12px;
  }
  .box__grid1 .img__grid {
    width: 300px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .box__nosotros {
    width: 600px;
    height: 1200px;
    margin-top: 50px;
  }
  .input-nosotros {
    width: 550px;
  }
}
@media (max-width: 700px) {
  .box__slide-cuotas-hotsale-bancos {
    background-color: rgba(0, 0, 0, 0.753);
    width: 100%;
    color: white;
    height: 25px;
    margin-top: 10px;
    text-align: center;
    position: fixed;
  }
  .box__header {
    display: flex;
    max-width: 100%;
    width: 500px;
    height: 140px;
    background-color: rgba(0, 0, 0, 0.507);
    margin-top: 70px;
    margin-left: 50px;
    box-shadow: 0 0 100px black;
  }
  .box__header .box__img1 {
    width: 250px;
    margin-left: 100px;
  }
  .box__header .box__links {
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    gap: 5px;
    margin-right: 100px;
    list-style-type: none;
  }
  .box__titulo {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-bottom: 150px;
  }
  .box__titulo .aw2 {
    font-size: 3rem;
  }
  .box__section1 {
    display: block;
    max-width: 100%;
    max-height: 1760px;
    background-color: white;
    margin-top: 150px;
    margin: 0 auto;
    box-shadow: 0 0 10px black;
  }
  .box__section1 .box__img2 {
    display: flex;
    margin-top: 200px;
    padding: 20px;
    margin: 0 auto;
    gap: 10px;
    flex-direction: column;
    gap: 50px;
  }
  .box__section1 .box__img2 .img33 {
    width: 400px;
    border: none;
  }
  .box__parrafo {
    display: flex;
    max-width: 100%;
    height: 900px;
    margin: 0 auto;
  }
  .box__parrafo .box__section3 {
    flex-direction: column;
    margin: 0 auto;
  }
  .box__parrafo .input3 {
    max-width: 100%;
    width: 500px;
    flex-direction: row;
  }
  .box__imagenblack {
    display: block;
    max-width: 100%;
    padding: 2px;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 50px;
  }
  .box__imagenblack .box__imgnegro {
    width: 600px;
  }
  .box__imagenblack .box__imgnegro .box__videomark {
    width: 90%;
  }
  .box__imagenblack .box__undervideo {
    max-width: 100%;
    height: 290px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .box__imagenblack .box__undervideo .box__underimg {
    margin: 0 auto;
    width: 400px;
    height: 290px;
  }
  .box__imagenblack .imgunder1 {
    display: none;
  }
  .box__imagenblack .imgunder1 .imgunder {
    width: 450px;
    height: 200px;
    margin: 0 auto;
  }
  .box__footer {
    max-width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    color: black;
  }
  .box__footer .img__footer {
    width: 140px;
    height: 70px;
  }
  .box__footer .box__linkfoot {
    display: block;
    font-size: 10px;
    align-items: center;
    list-style-type: none;
    line-height: 20px;
  }
  .box__footer .box__linkfoot2 {
    display: block;
    list-style-type: none;
    line-height: 35px;
    font-size: 10px;
    line-height: 20px;
    margin-right: 40px;
  }
  .box__footer a {
    text-decoration: none;
    color: black;
  }
  .box__footer a a:hover {
    color: greenyellow;
  }
  .box__footer .box__logcard2 {
    width: 100px;
    display: flex;
    flex-direction: column;
  }
  .box__footer .box__logcard2 .box__creditimg {
    width: 150px;
  }
  .box__footer .box__logcard2 .logo1 {
    width: 30px;
  }
  .box__footer .box__logcard2 .logo2 {
    width: 30px;
  }
  .box__footer .box__logcard2 .logo3 {
    width: 30px;
  }
  .box__iconssocialredinside {
    display: none;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .incosmedia {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .box__legalfoot {
    background-color: white;
    color: black;
    text-align: justify;
    font-family: "Prompt", sans-serif;
    font-size: 0.6rem;
  }
  .titu2 {
    margin-bottom: 150px;
  }
  .box__grid1 {
    display: flex;
    max-width: 100%;
    background-color: white;
    flex-direction: column;
    margin: 0 auto;
    gap: 10px;
    margin-bottom: 40px;
  }
  .box__grid1 .box__grid {
    max-width: 100%;
    display: block;
    background-color: white;
    line-height: 25px;
    font-size: 15px;
  }
  .box__grid1 .img__grid {
    width: 500px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .box__nosotros {
    width: 400px;
    height: 1400px;
    margin-top: 50px;
    font-size: 1.4rem;
  }
  .input-nosotros {
    width: 400px;
    margin-bottom: 100px;
  }
  .box__contacto {
    display: block;
    width: 65%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 70px;
    color: white;
    font-size: 1rem;
    font-family: "Prompt", sans-serif;
  }
  .box__contacto .box__colorcontact {
    color: rgb(173, 255, 47);
  }
}
@media (max-width: 500px) {
  .box__slide-cuotas-hotsale-bancos {
    background-color: black;
    width: 100%;
    color: white;
    height: 19px;
    margin-top: 5px;
    text-align: center;
    position: fixed;
    font-size: 12px;
  }
  .box__icon-favorite-briefcase {
    display: flex;
    align-items: first baseline;
    gap: 10px;
    color: white;
    justify-content: flex-end;
    font-size: 0.5rem;
  }
  .box__header {
    display: flex;
    max-width: 100%;
    width: 500px;
    margin: 0 auto;
    margin-top: 70px;
  }
  .box__header .box__img1 {
    width: 220px;
    margin-left: 30px;
  }
  .box__header .box__links {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    gap: 2px;
    margin-right: 20px;
    list-style-type: none;
  }
  .box__titulo {
    display: flex;
    width: 200px;
    flex-direction: column;
    margin-left: 50px;
    bottom: 50px;
  }
  .box__titulo .aw2 {
    font-size: 3.5rem;
    margin: 0 auto;
  }
  .box__section1 {
    display: flex;
    max-width: 100%;
    max-height: 1600px;
    background-color: white;
    margin-top: 150px;
  }
  .box__section1 .box__img2 {
    display: flex;
    margin-top: 200px;
    padding: 20px;
    margin: 0 auto;
    gap: 10px;
    flex-direction: column;
    gap: 50px;
  }
  .box__section1 .box__img2 .img33 {
    width: 300px;
    margin-bottom: 20px;
    border: none;
  }
  .box__section1 .box__img2 .img33:hover {
    transition: none;
    transform: none;
  }
  .box__imagenblack {
    display: block;
    max-width: 100%;
    padding: 2px;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 50px;
  }
  .box__imagenblack .box__imgnegro {
    width: 428px;
  }
  .box__imagenblack .box__imgnegro .box__videomark {
    width: 100%;
  }
  .box__imagenblack .box__undervideo {
    max-width: 100%;
    height: 290px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .box__imagenblack .box__undervideo .box__underimg {
    margin: 0 auto;
    width: 400px;
    height: 290px;
  }
  .box__imagenblack .imgunder1 {
    display: none;
  }
  .box__imagenblack .imgunder1 .imgunder {
    width: 450px;
    height: 200px;
    margin: 0 auto;
  }
  .box__parrafo {
    display: flex;
    max-width: 100%;
    height: 900px;
    padding: 30px;
  }
  .box__parrafo .box__section3 {
    flex-direction: column;
    width: 400px;
  }
  .box__parrafo .input3 {
    text-align: start;
    width: 400px;
    flex-direction: row;
  }
  .box__footer {
    max-width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    padding: 30px;
  }
  .box__footer .img__footer {
    width: 120px;
    height: 65px;
  }
  .box__footer .box__linkfoot {
    display: block;
    font-size: 10px;
    align-items: center;
    list-style-type: none;
    line-height: 20px;
  }
  .box__footer .box__linkfoot .button-retourn {
    border-radius: 15px;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
  }
  .box__footer .box__linkfoot2 {
    display: block;
    list-style-type: none;
    line-height: 35px;
    font-size: 10px;
    margin-right: 40px;
    line-height: 21px;
  }
  .box__footer a {
    text-decoration: none;
    color: black;
  }
  .box__footer a a:hover {
    color: greenyellow;
  }
  .box__footer .box__logcard2 {
    width: 100px;
    display: block;
  }
  .box__footer .box__logcard2 .box__creditimg {
    width: 50px;
  }
  .box__footer .box__logcard2 .logo1 {
    width: 30px;
  }
  .box__footer .box__logcard2 .logo2 {
    width: 30px;
  }
  .box__footer .box__logcard2 .logo3 {
    width: 30px;
  }
  .box__iconssocialredinside {
    display: none;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .incosmedia {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .box__legalfoot {
    background-color: white;
    color: black;
    text-align: justify;
    font-family: "Prompt", sans-serif;
    font-size: 0.5rem;
  }
  .box__legalfoot .box__legalfoot-parrafo {
    border-bottom: 1px solid rgba(0, 0, 0, 0.493);
    padding: 15px;
  }
  .box__legalfoot .poilicity-legalfoot {
    display: flex;
    justify-content: end;
    margin-right: 15px;
  }
  .titu2 {
    margin-bottom: 150px;
  }
  .box__grid1 {
    display: block;
    max-width: 100%;
    background-color: white;
    flex-direction: column;
    margin-bottom: 40px;
    gap: 10px;
  }
  .box__grid1 .box__grid {
    max-width: 100%;
    display: block;
    background-color: white;
    line-height: 25px;
    flex-direction: column;
    margin: 0 auto;
    font-size: 15px;
  }
  .box__grid1 .img__grid {
    width: 350px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .box__contacto {
    display: block;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 70px;
    color: white;
    font-size: 1rem;
    font-family: "Prompt", sans-serif;
  }
  .box__contacto .box__colorcontact {
    color: rgb(173, 255, 47);
  }
  .box__nosotros {
    width: 400px;
    height: 1400px;
    margin-top: 50px;
    font-size: 1.4rem;
  }
  .input-nosotros {
    width: 400px;
  }
  .box__headerpagina6 {
    display: flex;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0);
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    top: -0.1rem;
    z-index: 9999;
    list-style-type: none;
    padding: 10px;
  }
  .box__headerpagina6 .menu,
  .box__headerpagina6 a {
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    display: flex;
    color: white;
    gap: 1rem;
    list-style-type: none;
    text-decoration: none;
    font-size: 0.9rem;
    font-family: "Prompt", sans-serif;
  }
  .box__headerpagina6 .menu a:hover,
  .box__headerpagina6 a a:hover {
    transition: 2s;
    color: rgba(172, 255, 47, 0.479);
  }
  .box__headerpagina6 .menu {
    border-bottom: 1px solid rgba(0, 0, 0, 0.349);
    background-color: rgba(0, 0, 0, 0.644);
    border-radius: 10px;
    padding-right: 20px;
  }
  .box__headerpagina6 .img__header6 {
    width: 180px;
    margin-bottom: 10px;
  }
  .box__headerpagina6 .corrusel-6 {
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    display: block;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: px;
    padding: 5px;
    font-size: 0.6rem;
    font-family: "Prompt", sans-serif;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.055);
    letter-spacing: 1px;
    position: sticky;
  }
  .box__headerpagina6 .box__gridnuevo {
    gap: 30px;
    display: grid;
    grid-template-columns: 3fr;
    margin-bottom: 100px;
    padding: 25px;
  }
  .box__headerpagina6 .box__gridnuevo .gridcaja {
    display: flex;
    margin-top: 70px;
    margin-bottom: 5px;
    flex-direction: column;
    padding: 20px;
    border: 2px solid greenyellow;
    background-color: white;
  }
  .box__headerpagina6 .box__gridnuevo .gridcaja .img2__pag6 {
    flex-grow: 1;
    max-width: 100%;
  }
  .box__headerpagina6 .box__gridnuevo .gridcaja .img3__pag6 {
    max-width: 100%;
    flex-grow: 1;
  }
  .box__headerpagina6 .box__gridnuevo .gridcaja .img4__pag6 {
    max-width: 100%;
    flex-grow: 1;
  }
  .box__headerpagina6 .box__gridnuevo .gridcaja .img5__pag6 {
    max-width: 100%;
    flex-grow: 1;
  }
  .box__headerpagina6 .box__gridnuevo .gridcaja .img6__pag6 {
    max-width: 100%;
    flex-grow: 1;
  }
  .box__headerpagina6 .box__gridnuevo .gridcaja .img7__pag6 {
    max-width: 100%;
    flex-grow: 1;
  }
  .box__headerpagina6 .box__gridnuevo .gridcaja .img8__pag6 {
    max-width: 100%;
    flex-grow: 1;
  }
  .box__headerpagina6 .box__gridnuevo .gridcaja img {
    max-width: 100%;
    flex-grow: 1;
  }
  .box__headerpagina6 .box__gridnuevo .descrip__box {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
    line-height: 40px;
    font-size: 1.5rem;
    align-items: stretch;
    width: 80%;
  }
}
@media (max-width: 500px) and (max-width: 390px) {
  .box__slide-cuotas-hotsale-bancos {
    background-color: black;
    width: 100%;
    color: white;
    height: 18px;
    margin-top: 5px;
    text-align: center;
    position: fixed;
    font-size: 10px;
  }
  .box__header {
    display: flex;
    max-width: 100%;
    width: 400px;
    margin: 0 auto;
    margin-top: 70px;
  }
  .box__header .box__img1 {
    width: 220px;
    margin-left: 5px;
  }
  .box__header .box__links {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    gap: 2px;
    margin-right: 20px;
    list-style-type: none;
  }
  .box__titulo {
    display: flex;
    width: 200px;
    flex-direction: column;
    margin-left: 50px;
    bottom: 50px;
  }
  .box__titulo .aw2 {
    font-size: 2.8rem;
    margin: 0 auto;
  }
  .box__section1 {
    display: flex;
    max-width: 100%;
    max-height: 1600px;
    background-color: white;
    margin-top: 150px;
  }
  .box__section1 .box__img2 {
    display: flex;
    margin-top: 200px;
    padding: 20px;
    margin: 0 auto;
    gap: 10px;
    flex-direction: column;
    gap: 50px;
  }
  .box__section1 .box__img2 .img33 {
    width: 300px;
    margin-bottom: 20px;
    border: none;
  }
  .box__section1 .box__img2 .img33:hover {
    transition: none;
    transform: none;
  }
  .box__imagenblack {
    display: block;
    max-width: 100%;
    padding: 2px;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 50px;
  }
  .box__imagenblack .box__imgnegro {
    width: 381px;
  }
  .box__imagenblack .box__imgnegro .box__videomark {
    width: 100%;
  }
  .box__imagenblack .box__undervideo {
    max-width: 100%;
    height: 290px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .box__imagenblack .box__undervideo .box__underimg {
    margin: 0 auto;
    width: 380px;
    height: 290px;
  }
  .box__imagenblack .imgunder1 {
    display: none;
  }
  .box__imagenblack .imgunder1 .imgunder {
    width: 420px;
    height: 190px;
    margin: 0 auto;
  }
  .box__parrafo {
    display: flex;
    max-width: 100%;
    height: 900px;
    padding: 30px;
  }
  .box__parrafo .box__section3 {
    flex-direction: column;
    width: 390px;
  }
  .box__parrafo .input3 {
    text-align: start;
    width: 400px;
    flex-direction: row;
  }
  .box__footer {
    max-width: 100%;
    width: 600px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    padding: 30px;
  }
  .box__footer .img__footer {
    width: 110px;
    height: 60px;
  }
  .box__footer .box__linkfoot {
    display: block;
    max-width: 100%;
    font-size: 7px;
    align-items: center;
    list-style-type: none;
    line-height: 15px;
  }
  .box__footer .box__linkfoot2 {
    display: block;
    list-style-type: none;
    line-height: 35px;
    font-size: 7px;
    margin-right: 40px;
    line-height: 15px;
  }
  .box__footer a {
    text-decoration: none;
    color: black;
  }
  .box__footer a a:hover {
    color: greenyellow;
  }
  .box__footer .box__logcard2 {
    width: 100px;
    display: block;
  }
  .box__footer .box__logcard2 .box__creditimg {
    width: 50px;
  }
  .box__footer .box__logcard2 .logo1 {
    width: 23px;
  }
  .box__footer .box__logcard2 .logo2 {
    width: 23px;
  }
  .box__footer .box__logcard2 .logo3 {
    width: 23px;
  }
  .box__iconssocialred {
    width: 100%;
    height: 25px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
  }
  .box__iconssocialred .box__iconssocialredinside {
    display: flex;
    align-content: center;
    gap: 70px;
    margin-right: 230px;
    margin-top: 5px;
  }
  .box__legalfoot {
    background-color: white;
    color: black;
    text-align: justify;
    font-family: "Prompt", sans-serif;
    font-size: 0.5rem;
  }
  .titu2 {
    margin-bottom: 150px;
  }
  .box__grid1 {
    display: block;
    max-width: 100%;
    background-color: white;
    flex-direction: column;
    margin-bottom: 40px;
    gap: 10px;
  }
  .box__grid1 .box__grid {
    max-width: 100%;
    display: block;
    background-color: white;
    line-height: 25px;
    flex-direction: column;
    margin: 0 auto;
    font-size: 12px;
  }
  .box__grid1 .img__grid {
    width: 293px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .box__contacto {
    display: block;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 70px;
    color: white;
    font-size: 1rem;
    font-family: "Prompt", sans-serif;
  }
  .box__contacto .box__colorcontact {
    color: rgb(173, 255, 47);
  }
  .box__nosotros {
    width: 350px;
    height: 1600px;
    margin-top: 50px;
    font-size: 1.4rem;
  }
  .input-nosotros {
    width: 330px;
  }
}/*# sourceMappingURL=estylo.css.map */